{% extends 'about/header.html' %}
{% block barra %}
<h1 class="text-center">Bem-vindo ao meu blog</h1>
<div class="container">
  <div class="row">
    {% for Post in Posts %}
      <div class="col shadow p-3 mb-5 bg-white rounded" style="width: 18rem; margin:7rem;">
        <img src="{{ Post.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{ Post.title }}</h5>
            <p class="card-text text-center">{{ Post.description|truncatechars:100 }}</p>
            <a href="{% url 'blog:detail' Post.id %}" class="btn btn-primary btn-block">Ler Artigo na íntegra</a>
          </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
